@model Pro_ASP.NET_MVC_5_PLATFORM_A.Freeman_V1._0._3.Models.Product

@{
    ViewBag.Title = "Nazwa produktu";
}

Nazwa produkt: @Model.Name

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
</div>
</body>
</html>
