@model Pro_ASP.NET_MVC_5_PLATFORM_A.Freeman_V1._0._3.Models.Product

@{
    ViewBag.Title = "NameAndPrice";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>                           </h2>
Nazwa produktu to @Model.Name, jego cena to @Model.Price zł
